@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #014751;
}

@layer components {
  .max-container {
    max-width: 1736px;
    margin: 0 auto;
  }

  .hover-text-shadow:hover {
    text-shadow: 0 0 1px currentColor;
  }

  .second-container {
    /* max-width: 1920px; */
    max-width: 1880px;
    margin: 0 auto;
  }
}
